<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         verbose="true"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="IBAN Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
    	<whitelist>
            <directory suffix=".php">test/IBAN</directory>
        </whitelist>
    </filter>
    <!--
    <logging>
    	<log type="coverage-clover" target="./report/logs/clover.xml"/>
        <log type="coverage-html" target="report" charset="UTF-8" highlight="false" lowUpperBound="35" highLowerBound="70"/>
    	<log type="junit" target="./report/logs/junit.xml"/>
    </logging>
    
    <filter>
	    <blacklist>
	        <directory>./vendor/*</directory>
	        <directory>./docs/*</directory>
	        <directory>./script/*</directory>
	        <directory>./tests/*</directory>
	        <file>./src/IBAN/DE/rules.php</file>
	    </blacklist>
	</filter>
	-->
</phpunit>